.home h1{
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.card_view{
    display: grid;
    column-gap: 3px;
    row-gap: 3px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color:black;
}

p{
    color: black;
}

.testing{
    border: 1px solid black;
}